<div class="sidebar" id="sidebar">
    <button id="closeBtn" class="close-btn">&times;</button>
    <a href="https://mateamohammed019-cloud.github.io/alrifaq/index.html">الرئيسية</a>
    <a href="https://mateamohammed019-cloud.github.io/alrifaq/pages/cotactus.html">عن الشركة</a>
    <a href="https://mateamohammed019-cloud.github.io/alrifaq/index.html">المنتجات</a>
    <a href="https://mateamohammed019-cloud.github.io/alrifaq/index.html">الخدمات</a>
    <a href="https://mateamohammed019-cloud.github.io/alrifaq/pages/cotactus.html">اتصل بنا</a>
</div>






